* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #faf7f6;
  padding: 30px;
  color: #333;
}

h1 {
  text-align: center;
  color: #8b2f2f;
  font-size: 39px;
  margin-bottom: 30px;
}


.container {
  max-width: 900px;
  margin: auto;
}


.post-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 18px 22px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


.post-left {
  display: flex;
  gap: 15px;
  flex: 1;
}


.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}


.post-content {
  display: flex;
  flex-direction: column;
}

.post-content .user {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.post-content .content {
  font-size: 20px;
  color: #444;
  margin-bottom: 6px;
}


.details-link {
  font-size: 19px;
  color: #1a73e8;
  text-decoration: none;
  font-weight: 500;
  width: fit-content;
}

.details-link:hover {
  text-decoration: underline;
}


.post-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}


.btn {
  padding: 7px 14px;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}


.btn-details {
  background: #f6eee6;
  color: #8b5a2b;
}

.btn-details:hover {
  background: #efdfcf;
}


.btn-delete {
  background: #c0392b;
  color: #ffffff;
}

.btn-delete:hover {
  background: #a93226;
}


.post-actions form {
  margin: 0;
}


.create-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
}

.create-btn button {
  background: linear-gradient(135deg, #b43a2f, #8b2f2f);
  color: white;
  padding: 12px 28px;
  font-size: 19px;
  border-radius: 12px;
  border: none;
  cursor:alias;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.create-btn button:hover {
  opacity: 0.9;
 cursor:alias;
}

.create-btn a {
  text-decoration: none;
   color:#f6eee6
}


@media (max-width: 650px) {
  .post-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .post-actions {
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
